# Dependencies
node_modules/

# Builds
dist/
build/
.next/
out/
coverage/
*.tsbuildinfo

# Environment
.env
.env.local
.env.*.local

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Misc
next-env.d.ts